<form class="form-horizontal" role="form" id="apresentacao">

    <h2>Recibo de Emprestimo</h2>

    <div id="recibo">
        <label> recibo:</label>
        <input type="text" id="num-recibo" cam-variable-name="cmnd_recibo" cam-variable-type="String" required>
    </div>

    <script cam-script type="text/form-script">
        camForm.on('submit', function(){
            var Recibo_Num = $("#num-recibo").text();
            console.log(num-recibo.value());            
        });
    </script>
</form>