<form class="form-horizontal" role="form" id="apresentacao">

    <h2>Cadastro Usuario</h2>

    <div id="nome_user">
        <label> Nome:</label>
        <input type="text" id="nome-user" cam-variable-name="cmnd_user" cam-variable-type="String" required>
    </div>

    <div id="matricula">
        <label> matricula:</label>
        <input type="text" id="matricula-user" cam-variable-name="cmnd_matricula" cam-variable-type="String" required>
    </div>

    <script cam-script type="text/form-script">
        camForm.on('submit', function(){
            var nomeDoUsuario = $("#nome-user").text();
            console.log(nomeDoLivro.value());
            
            var Matricula = $("#matricula-user").text();
            console.log(matricula-user.value());
            
        });
    </script>
</form>