
<form class="form-horizontal" role="form" id="apresentacao">

        <h2> Retirada do livro </h2>

        <div id="nome_livro">
            <label> Nome do livro:</label>
            <input type="text" id="nome-livro" cam-variable-name="cmnd_nomeLivro" cam-variable-type="String" required>
        </div>

        <div id="nome">
            <label> Nome:</label>
            <input type="text" id="nome-usuario" cam-variable-name="cmnd_nome" cam-variable-type="String" required>
        </div>

        <label for="checkcadastro">Cadastrar usuario</label>
        <input type="checkbox" id="checkcadastro" cam-variable-name="cmnd_cadastro" cam-variable-type="Boolean"> 

        <script cam-script type="text/form-script">

            camForm.on('submit', function(){
                var nomeDoLivro = $("#nome-livro").text();
                console.log(nomeDoLivro.value());
                
                var nome = $("#nome-usuario").text();
                console.log(nome-usuario.value());
                
            });

            
         </script>
</form>